defaults: &defaults
  bitcoind:
    host: "localhost"
    username: "bitcoinrpc"
    password: "thisisjustapasswordfortesting"
    port: "19001"
    ssl: false

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
