<!DOCTYPE html>
<html>
<head>
  <title>Bitsy</title>
  <%= stylesheet_link_tag    "bitsy/application", media: "all" %>
  <%= javascript_include_tag "bitsy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
