defaults: &defaults
  bitcoind:
    host: "localhost"
    username: "admin1"
    password: "123"
    port: "19001"
    ssl: false

  # How much of a transaction fee to pay to the network
  transaction_fee: 0.0001

  # How much Bitcoin to accumulate before forwarding the money out
  transaction_fee_threshold_multiplier: 200

  # How many confirmations are needed to consider a transaction as complete
  safe_confirmation_threshold: 0

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
